<mat-card class="profile-card">
    <mat-card-header>
        <div mat-card-avatar class="profile-header-image"></div>
        <mat-card-title>Profile</mat-card-title>
        <mat-card-subtitle>{{user.userName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/person2.png" alt="Icon of a person">
    <mat-card-content>
        <p>
            User Name: {{user.userName}}
            <br>
            Email: {{user.email}}
            <br>
            Phone: {{user.phone}}
            <br>
            Gender: {{user.gender}}
            <br>
            Age: {{user.age}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink='/users' mat-mini-fab color="primary" aria-label="Delete User">
            <mat-icon>home</mat-icon>
        </a>
        <button mat-mini-fab color="warn" aria-label="Delete User">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>
  