<div class="content-center">
    <mat-card class="profile-card">
        <mat-card-header>
            <div mat-card-avatar class="profile-header-image"></div>
            <mat-card-title>Profile</mat-card-title>
            <mat-card-subtitle>{{user.userName}}</mat-card-subtitle>
        </mat-card-header>
        <div class="content-center">
            <img mat-card-image src="/assets/img/person2.png" style="width: 200px; height: 200px;" alt="Icon of a person">
        </div>
        <mat-card-content>
            <p>
                User Name: {{user.userName}}
                <br>
                Email: {{user.email}}
                <br>
                Phone: {{user.phone}}
                <br>
                Gender: {{user.gender}}
                <br>
                Age: {{user.age}}
            </p>
        </mat-card-content>
        <mat-card-actions class="content-center">
            <a routerLink="/" mat-raised-button color="primary" aria-label="Back button">
                Back
            </a>
            <button (click)=deleteUser(user.id) mat-raised-button color="warn" aria-label="Delete User">
                Delete
            </button>
        </mat-card-actions>
    </mat-card>
</div>
  